@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");
@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


html,body {
  /* background: #222c31; */
  display: block;
  height: 97%;
  background-color: #263238;
}

#header{
	background-color: #003049;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
}

.Dropdown-root{
	vertical-align: bottom;
}


#main,#__next,#editor,.CodeMirror {
	height: 100% !important;
	font: normal 24px JetBrainsMono, sans-serif !important;
}

.title {
	font-size: xx-large;
	color: #FCBF49;
	font: normal 24px JetBrainsMono, sans-serif;
	white-space: nowrap;
}

.title2 {
	font-size: xx-large;
	color: #D62828;
	font: normal 24px JetBrainsMono, sans-serif;
}

#outer
{
    width:100%;
    text-align: center;
}
.inner
{
    display: inline-block;
	align-items: center;
	align-content: center;
}

.inner  button
{
	height: 40px;
	font-size: 16px;
	font-weight: bold;
}
.inner option
{
	height: 40px;
}

#lang{
	height: 40px;
}

#generatedLink{
	padding: 15px;
	background-color: burlywood;
}

#generatedLink input{
	min-width: 80%;
	width: 80%;
}